/* Color Scheme: Everforest Dark, Soft */

:root {
    --foreground: #D3C6AA;
    --background: #293136;
    --bg-dim: #1e2326;
    --fg-red: #E67E80;
    --fg-orange: #E69875;
    --fg-yellow: #DBBC7F;
    --fg-green: #A7C080;
    --fg-blue: #7FBBB3;
    --fg-aqua: #83C092;
    --fg-purple: #D699B6;
    --bg-0: #333C43;
    --bg-1: #3A464C;
    --bg-2: #434F55;
    --bg-3: #4D5960;
    --bg-4: #555F66;
    --bg-red: #5C3F4F;
    --bg-orange: #59464C;
    --bg-yellow: #55544A;
    --bg-green: #48584E;
    --bg-blue: #3F5865;
    --gray-0: #7A8478;
    --gray-1: #859289;
    --gray-2: #9DA9A0;
}

/* Header + Bar */

header {
    background-color: var(--bg-0);
    text-align: center;
    padding: 1rem;
}

nav {
    padding: 1rem;
}

nav a {
  margin: 0 1.5rem;
  color: var(--foreground);
  text-decoration: none; /* removes underline */
  font-weight: 500;
  font-size: 1.5rem;
  transition: color 0.2s ease;
}

nav a:hover {
  color: var(--fg-green);
}

/* Page Body */

* {
    /* The declared width includes padding and border. */
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--gray-2);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    height: 100%;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

main {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr;
    flex: 1;
}

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--fg-green);
    font-weight: 500;
}

h2 {
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--fg-green);
    font-weight: 500;
}

h3 {
    margin-top: 0rem;
    margin-bottom: 1rem;
    text-align: left;
    font-size: 1.2rem;
}

.about {
    width: 40%;
    margin: 2rem;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item {
    /* width: 40%; */
    margin: 1rem;
    align-content: center;
}

img, video {
    width: 400px;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    padding: 5px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    border: 3px solid var(--bg-green);
    display: block;
    margin: 20px auto;
}

#about-info {
    text-align: justify;
}

/* how to center a div lol */
#profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-pic {
    width: 30vw;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    padding: 5px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    border: 3px solid var(--bg-green)
}

.center-text {
    text-align: center;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-list, #projects {
    /* width: 900px; */
    margin: 0 auto;
}

.project-card {
    background-color: var(--bg-0);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    /* border: 2px solid var(--bg-green); */
    border-radius: 12px;
    padding: 1rem;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

#course-list {
    /* width: 900px; */
    margin: 0 auto;
}

.course-card {
    background-color: var(--bg-0);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    /* border: 2px solid var(--bg-green); */
    border-radius: 12px;
    padding: 1rem;
    transition: all 0.3s ease;
}

.project-description {
    width: 60%;
}

.project-card img {
    margin: 0;
    width: auto;
    height: 250px;
    object-fit: cover;
}

.project-card:hover {
    background-color: var(--bg-green);
    border-color: var(--fg-yellow);
    transform: translateY(-4px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
}

.course-card h2, .project-card h2 {
    color: var(--fg-green);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.course-card p, .project-card p {
    font-size: 1rem;
    text-align: left;
}

.project-link {
    color: inherit;
    text-decoration: none;
}

/* Footer */

footer {
    background-color: var(--bg-0);
    color: var(--foreground);
    font-size: 0.8rem;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 0;
    border-top: 2px solid var(--bg-green);
    padding: 2rem 1rem;
    /* position: absolute;
    bottom: 0px; */
    text-align: center;
}
/* 
footer p {
    text-align: center;
} */

.links {
    color: var(--fg-blue);
    text-decoration: none;
    font-weight: 500;
    border-bottom: 1px solid transparent;
    transition: all 0.2s ease;
}

.links:hover {
    color: var(--fg-green);
    border-bottom-color: var(--fg-green);
}

.social-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}